  <div class="container-fluid">
        <div class="row">   
            <div class="col-xs-6 col-md-4">
            </div>
            <div class="col-xs-6 col-md-4"> 
            <div id="{{name}}" >
            <ul class="list-group" class='center'>
                <li class="list-group-item" class="center">
                    <img src="{{photo}}"/></br>
                    <a href= "{{server_addr}}person_info.cgi?username={{username}}">{{name}}</a></br>
                    gender : {{gender}}</br>
                    hair color :{{hair_colour}}</br>
                    height : {{height}}</br>
                    
                </li>
                
            </ul>
            </div>
            <div class="col-xs-6 col-md-4">
            </div>

    </div>
   
    </div>
