<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
        <title>Person_info</title>
        
    </head>
    <body>
        <div id="{{name}}">
            <img src="{{photo}}" /> </br>
            name : {{name}} </br>
            birthdate:{{birthdate}} </br>
            hair_colour:{{hair_colour}}</br>
            gender:{{gender}} </br>
            height:{{height}} </br>
            courses:{{courses}} </br>
            favorite bands :{{favourite_bands}}</br>
            favourite_hobbies:{{favourite_hobbies}}</br>
            favourite_books :{{favourite_books}} </br>
            favourite_movies:{{favourite_movies}} </br>
            email: {{email}}
            
        </div>  
        <div id="name">
            i am looking for :<br>
            {{preferences}}
        </div>
    </body>
</html>
